/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
table,
tbody,
button,
ion-icon { display: block; }

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input { width: 100%; }

button { cursor: pointer; }

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: var(--ff-josefin-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-size: 1.6rem;
  padding-block-start: 90px;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3,
.h4 { color: var(--rich-black-fogra-29); }

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-primary:is(:hover, :focus) {
  --background: var(--salmon);
  --border-color: var(--salmon);
}

.btn-secondary {
  --background: transparent;
  --border-color: var(--black);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) { --background: hsla(0, 0%, 0%, 0.1); }

.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--bittersweet);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bittersweet);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }

.card-banner {
  background: var(--cultured);
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition-2);
}

.product-card:is(:hover, :focus) .image-contain { transform: scale(1.1); }

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--bittersweet);
  color: var(--black);
  padding: 5px 15px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  border-radius: 25px;
}

.card-action-list {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  transition: var(--transition-1);
}

.product-card:is(:hover, :focus) .card-action-list {
  right: 20px;
  opacity: 1;
}

.card-action-item { position: relative; }

.card-action-item:not(:last-child) { margin-bottom: 10px; }

.card-action-btn {
  background: var(--white);
  color: var(--rich-black-fogra-29);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.card-action-btn ion-icon { --ionicon-stroke-width: 30px; }

.card-action-btn:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.card-action-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  width: max-content;
  background: var(--black_90);
  color: var(--black);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.card-action-btn:is(:hover, :focus) + .card-action-tooltip { opacity: 1; }

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-cat {
  font-family: var(--ff-roboto);
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 12px;
}

.card-cat-link {
  display:inline-block;
  color: inherit;
  transition: var(--transition-1);
}

.card-cat-link:is(:hover, :focus) { color: var(--bittersweet); }

.product-card .card-title { margin-bottom: 12px; }

.product-card .card-title > a {
  color: inherit;
  transition: var(--transition-1);
}

.product-card .card-title > a:is(:hover, :focus) { color: var(--bittersweet); }

.card-price {
  color: var(--bittersweet);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-600);
}

.card-price del {
  color: var(--gray-x-11-gray);
  margin-left: 8px;
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) { border-color: transparent; }


/*-----------------------------------*\
 * #PRODUCTS
\*-----------------------------------*/

.product .section-title {
  text-align: center;
  margin-bottom: 25px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.filter-btn {
  color: var(--onyx);
  padding: 10px 16px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.filter-btn.active {
  background: var(--bittersweet);
  color: var(--white);
  border-color: var(--bittersweet);
}

.product-list {
  display: grid;
  gap: 50px 25px;
}

.product-item {
  width: 100%;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  /**
   * REUSED STYLE
   */
  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }
  .has-scrollbar > li { min-width: calc(50% - 12.5px); }

  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: 1fr 1fr; }
}

/**
 * responsive for larger than 768px screen
 */
@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  /**
   * REUSED STYLE
   */
  .container { max-width: 720px; }
  .h4 { --fs-5: 2rem; }

}


/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  /**
   * REUSED STYLE
   */
  .container { max-width: 970px; }

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }

  /**
   * PRODUCTS
   */
  .product-list { grid-template-columns: repeat(3, 1fr); }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  /**
   * REUSED STYLE
   */
  .container { max-width: 1280px; }

  /**
   * PRODUCTS
   */

  .product-list { grid-template-columns: repeat(4, 1fr); }
}
