
  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/assets/images/Footer/Amazon_logo.svg.png" alt="Casmart logo" class="small-logo">
          </a>

          <p class="footer-text">
            Amazont es una plataforma de compras en línea que ofrece una amplia gama de productos, desde electrónica y moda y más.<br><br>
            Email: contactoamazont.com<br>
            Teléfono: 973 72 78 78<br>
            Dirección: Carrer la Palma, 33, 25002 Lleida
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Información</p>
          </li>

          <li>
            <a href="#" class="footer-link">Sobre la Empresa</a>
          </li>

          <li>
            <a href="#" class="footer-link">Tipos de Pago</a>
          </li>

          <li>
            <a href="#" class="footer-link">Premios Ganados</a>
          </li>

          <li>
            <a href="#" class="footer-link">Socios de Medios</a>
          </li>

          <li>
            <a href="#" class="footer-link">Conviértete en Agente</a>
          </li>

          <li>
            <a href="#" class="footer-link">Política de Reembolso</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Categoria</p>
          </li>

          <li>
            <a href="#" class="footer-link">Bolsos y Carteras</a>
          </li>

          <li>
            <a href="#" class="footer-link">Ropa de Mujer</a>
          </li>

          <li>
            <a href="#" class="footer-link">Tallas Grandes</a>
          </li>

          <li>
            <a href="#" class="footer-link">Completa tu Look</a>
          </li>

          <li>
            <a href="#" class="footer-link">Rincón del Bebé</a>
          </li>

          <li>
            <a href="#" class="footer-link">Zapatos Hombre y Mujer</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Ayuda y Soporte</p>
          </li>

          <li>
            <a href="#" class="footer-link">Distribuidores y Agentes</a>
          </li>

          <li>
            <a href="#" class="footer-link">Información de FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link">Política de Devoluciones</a>
          </li>

          <li>
            <a href="#" class="footer-link">Envío y Entrega</a>
          </li>

          <li>
            <a href="#" class="footer-link">Seguimiento de Pedidos</a>
          </li>

          <li>
            <a href="#" class="footer-link">Lista de Tiendas</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2025 <a href="#">Amazon't</a>. Todos los Derechos Reservados.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Privacidad</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Terminos y Condiciones</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Cookies</a>
          </li>

        </ul>

        <div class="payment">

          <img src="/assets/images/Footer/payment-img.png" alt="Online payment logos" class="payment-img">
        </div>

      </div>
    </div>

  </footer>
