<app-slider></app-slider>
<app-portrait-women></app-portrait-women>
<app-categories-women></app-categories-women>
<app-products-women></app-products-women>
<app-portrait-shoes></app-portrait-shoes>
<app-insta-post-shoes></app-insta-post-shoes>
<app-products-shoes></app-products-shoes>
<app-categories-middle></app-categories-middle>
<app-categories-skincare></app-categories-skincare>
<app-products-skincare></app-products-skincare>
<app-offer-skincare></app-offer-skincare>
<app-categories-end></app-categories-end>
