<!--
        - #OFFER
      -->

      <section class="section offer" id="offer" aria-label="offer" data-section>
        <div class="container">
          <div class="offer-wrapper">
            <figure class="offer-banner">
              <img src="./assets/images/OfferSkincare/offer-banner-1.jpg"   loading="lazy" alt="offer products"
                class="w-100">

              <img src="./assets/images/OfferSkincare/offer-banner-2.jpg"  loading="lazy" alt="offer products"
                class="w-100">
            </figure>

            <div class="offer-content">

              <p class="offer-subtitle">
                <span class="span">Special Offer</span>

                <span class="badge" aria-label="20% off">-20%</span>
              </p>

              <h2 class="h2-large section-title">Mountain Pine Bath Oil</h2>

              <p class="section-text">
                Made using clean, non-toxic ingredients, our products are designed for everyone.
              </p>

              <div class="countdown">

                <span class="time" aria-label="days">15</span>
                <span class="time" aria-label="hours">21</span>
                <span class="time" aria-label="minutes">46</span>
                <span class="time" aria-label="seconds">08</span>

              </div>

              <a href="#" class="btn btn-primary">Get Only $39.00</a>

            </div>
          </div>
        </div>
      </section>



