<head>
  <link rel="stylesheet" href="categories-skincare.component.css">
</head>

<article>
  <!--
    - #COLLECTION
  -->
  <section class="section collection" id="collection" aria-label="collection" data-section>
    <div class="container">
      <ul class="collection-list">
        <li>
          <div class="collection-card has-before hover:shine">
            <div class="has-bg-image" style="background-image: url('/assets/images/CategoriesSkincare/collection-1.jpg')"></div>
            <h2 class="h2 card-title">Summer Collection</h2>
            <p class="card-text">Starting at $17.99</p>
            <a href="#" class="btn-link">
              <span class="span">Shop Now</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>
        <li>
          <div class="collection-card has-before hover:shine">
            <div class="has-bg-image" style="background-image: url('/assets/images/CategoriesSkincare/collection-2.jpg')"></div>
            <h2 class="h2 card-title">Whats New?</h2>
            <p class="card-text">Get the glow</p>
            <a href="#" class="btn-link">
              <span class="span">Discover Now</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>
        <li>
          <div class="collection-card has-before hover:shine">
            <div class="has-bg-image" style="background-image: url('/assets/images/CategoriesSkincare/collection-3.jpg')"></div>
            <h2 class="h2 card-title">Buy 1 Get 1</h2>
            <p class="card-text">Starting at $7.99</p>
            <a href="#" class="btn-link">
              <span class="span">Discover Now</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
