<head>
  <link rel="stylesheet" href="categories-skincare.component.css">
</head>

<article>
  <!--
    - #COLLECTION
  -->
  <section class="section collection" id="collection" aria-label="collection" data-section>
    <div class="container">
      <ul class="collection-list">
        <li *ngFor="let card of collectionCards">
          <div class="collection-card has-before hover:shine">
            <div class="has-bg-image" [style.backgroundImage]="'url(' + card.backgroundImage + ')'"></div>
            <h2 class="h2 card-title">{{ card.title }}</h2>
            <p class="card-text">{{ card.description }}</p>
            <a [href]="card.link" class="btn-link">
              <span class="span">{{ card.buttonText }}</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
