      <section class="section category">
        <div class="container">

          <ul class="category-list">

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-1.jpg" alt="Sunglass & eye" loading="lazy" width="510" height="600"
                  class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Sunglass & Eye</a>
            </li>

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-2.jpg" alt="Active & outdoor" loading="lazy" width="510" height="600"
                  class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Active & Outdoor</a>
            </li>

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-3.jpg" alt="Winter wear" loading="lazy" width="510" height="600"
                  class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Winter Wear</a>
            </li>

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-4.jpg" alt="Exclusive footwear" loading="lazy" width="510"
                  height="600" class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Exclusive Footwear</a>
            </li>

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-5.jpg" alt="Jewelry" loading="lazy" width="510" height="600"
                  class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Jewelry</a>
            </li>

            <li class="category-item">
              <figure class="category-banner">
                <img src="/assets/images/CategoriesEnd/category-6.jpg" alt="Sports cap" loading="lazy" width="510" height="600"
                  class="w-100">
              </figure>

              <a href="#" class="btn btn-secondary">Sports Cap</a>
            </li>

          </ul>

        </div>
      </section>


